header {
  font-family: "Varela Round", sans-serif;
}

nav {
  color: cadetblue;
  background-color: lavender;
  position: sticky;
}

h1 {
  color: silver;
  padding-top: 5px;
  font-family: "Varela Round", sans-serif;
}

body {
  background: lightblue;
  padding-bottom: 40px;
  font-family: "Varela Round", sans-serif;
}

.container {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  background-color: lightcyan;
}

.image-thumbnail {
  padding: 20px;
  max-width: 350;
  max-height: 350;
  object-fit: cover;
}

a {
  color: cadetblue;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
}
